{#
/**
 * @file
 * Component for the homepage menu.
 */
#}

{{ attach_library('dddlx/homepage-menu') }}

<div class="homepage-menu__wrapper">

  <div class="homepage-menu__content">

    <a href="{{ root_path }}" title="Drupal Developer Days Lisbon" rel="home" class="homepage-menu__logo">
      <span class="homepage-menu__logo__img__wrapper">
        <span class="homepage-menu__logo__img">{{ source(directory ~ '/logo_w_lettering.svg') }}</span>
      </span>
    </a>

    {%
      set classes = [
        'homepage-menu-nav',
        'navigation',
        'menu--' ~ derivative_plugin_id|clean_class,
      ]
    %}

    {% set heading_id = attributes.id ~ '-menu'|clean_id %}

    <nav role="navigation" aria-labelledby="{{ heading_id }}"{{ attributes.addClass(classes)|without('role', 'aria-labelledby') }}>
      {# Label. If not displayed, we still provide it for screen readers. #}
      {% if not configuration.label_display %}
        {% set title_attributes = title_attributes.addClass('visually-hidden') %}
      {% endif %}
      {{ title_prefix }}
      <h2{{ title_attributes.setAttribute('id', heading_id) }}>{{ configuration.label }}</h2>
      {{ title_suffix }}

      {# Menu. #}
      {% block content %}
        {{ content }}
      {% endblock %}
    </nav>
  </div>
</div>
