{#
/**
 * @file
 * Component for the footer.
 *
 * Variables:
 * - modifier_class: [string] Classes to modify the default component styling.
 * - attributes: [string] HTML attributes for the wrapping element.
 * - content: [string] The component contents.
 */
#}
{{ attach_library('dddlx/footer') }}
<footer class="footer {{ modifier_class }}" role="contentinfo"{{ attributes }}>

  <div class="layout-center">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>

  <div class="footer-tag__wrapper">
      <strong><a href="https://www.drupal.org/" target="_blank">Drupal.org</a></strong> issue queue tag: <strong>DevDaysLisboa</strong> <br/ >
      Social media hashtag: <strong>#drupaldevdays</strong>
  </div>

  <div class="footer-branding__wrapper">

    <div class="footer-branding">
      <a href="{{ root_path }}" title="{{ 'Home'|t }}" rel="home" class="footer-branding__logo__primary">
      </a>
    </div>

    <span class="footer-branding__slogan">Drupal Developer Days 2018</span>

  </div>

</footer>
