{#
/**
 * @file
 * Component for the footer.
 *
 * Variables:
 * - modifier_class: [string] Classes to modify the default component styling.
 * - attributes: [string] HTML attributes for the wrapping element.
 * - content: [string] The component contents.
 */
#}
{{ attach_library('dddlx/footer') }}
<footer class="footer {{ modifier_class }}" role="contentinfo"{{ attributes }}>

  <div class="layout-center">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>

  <div class="footer-follow__wrapper">

    <div class="footer-follow-organization__wrapper">
      <p>Organization</p>
      <a class="footer-follow-organization__logo" href="http://drupal-pt.org/" target="_blank">
        {{ source(directory ~ '/components/components/footer/logo_drupal_pt.svg') }}
      </a>
    </div>

    <div class="footer-follow-social__wrapper">
      <p>Follow us</p>

      <div class="footer-follow-drupal-social__wrapper">

        <ul class="footer-follow-drupal-social">

          <li>
            <a href="https://twitter.com/drupaldevdays" target="_blank">
              <span class="drupalday fa fa-twitter"></span>
            </a>
          </li>

          <li>
            <a href="https://www.facebook.com/drupaldevdays/" target="_blank">
              <span class="drupalday fa fa-facebook"></span>
            </a>
          </li>

          <li>
            <a href="https://www.youtube.com/c/DrupalDevDays" target="_blank">
              <span class="drupalday fa fa-youtube-play"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="footer-tag__wrapper">
      <strong><a href="https://www.drupal.org/" target="_blank">Drupal.org</a></strong> issue queue tag: <strong>DevDaysLisboa</strong> <br/ >
      Social media hashtag: <strong>#drupaldevdays</strong>
    <p>DrupalDev Days is organized by a group of <a href="/credits">volunteers</a></p>
    <p>Design by <a href="https://marzeelabs.org/">marzee labs</a></p>
  </div>

</footer>
