{#
/**
 * @file
 * Display Suite 2 column template.
 *
 * Available variables:
 * - outer_wrapper: outer wrapper element
 * - header_wrapper: wrapper element around header region
 * - content_wrapper: wrapper element around content region
 * - footer_wrapper: wrapper element around footer region
 * - attributes: layout attributes
 * - header_attributes: attributes for header region
 * - content_attributes: attributes for content region
 * - footer_attributes: attributes for footer region
 * - header: content of header region
 * - content: content of content region
 * - footer: content of footer region
 */
#}
{{ attach_library('dddlx/page_full') }}

{# {% set class = node.bundle|clean_class ~ '-full' %} #}
{% set class = 'page-full' %}
{% set background_class = has_background_image ? class ~ '__header__wrapper--with-background' : '' %}

<{{ outer_wrapper }}{{ attributes.addClass(class, 'clearfix') }}>

  {{ title_suffix.contextual_links }}

  <{{ header_wrapper }}{{ header_attributes.addClass(class ~ '__header__wrapper', background_class) }}>
    
    {{ background }}

    <div {{ create_attribute({'class': [class ~ '__header']}) }}>
      {{ header }}
    </div>

  </{{ header_wrapper }}>

  <div {{ create_attribute({'class': [class ~ '__content-outer-wrapper']}) }}>

    {{ admin }}

    <div class={{class ~ '__content-wrapper'}}>

      <{{ main_wrapper }}{{ main_attributes.addClass(class ~ '__content') }}>
        {{ main }}
      </{{ main_wrapper }}>

      <{{ asidefirst_wrapper }}{{ asidefirst_attributes.addClass(class ~ '__sidebar-bottom') }}>
        {{ asidefirst }}
      </{{ asidefirst_wrapper }}>

    <{{ footer_wrapper }}{{ footer_attributes.addClass(class ~ '__footer__wrapper') }}>
      {{ footer }}
    </{{ footer_wrapper }}>

    </div>
  </div>
</{{ outer_wrapper }}>
